# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
venv/
.venv/
env/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
